footer{
	margin-top:10px;
	padding-bottom:10px;
	text-align: center;	
	padding-top:20px;
	background-color: #f9f8f7;
	border: medium solid #073277;
}



.footer_left{
	display:inline-block;
	width:33%;
}
.footer_middle{
	display:inline-block;
	width:33%;
}
.footer_right{
	display:inline-block;
	width:33%;
}
