*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../pictures/fond.png');
}

article{
    display: block;

}

article section{
    display: inline-block;
    width: 33%;
    background-color: transparent;
    text-align: center;
    border: solid 1px #cbcac9;
    border-radius: 10px;
}

article section img{
    margin-top: 5px;
    max-width: 50%;
    border-radius: 5px;

}

article section h2{
    font-family: 'Permanent Marker';
}

article section p{
    font-family: 'Podkova', cursive;
}